<!-- App bar -->
<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Mini CRM</span>
  <div class="flex-1"></div>
  <button mat-icon-button  [matMenuTriggerFor]="appMenu">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item routerLink="/auth/login"><mat-icon>logout</mat-icon>  Logout</button>
  </ng-template>
</mat-menu>

<!-- Draw and container-->
<mat-drawer-container class="app-container" autosize>
  <mat-drawer #drawer class="w-[300px]" mode="side" opened>
    <p>Auto-resizing sidenav</p>
  </mat-drawer>

  <div class="app-sidenav-content">
    <router-outlet></router-outlet>
    Content
  </div>

</mat-drawer-container>
